<div class="container center">
    <div class="todo-list">
        <mat-list-item *ngFor="let toDo of this.eventService.toDos">
            <mat-checkbox [checked]="toDo.doneAt" (change)="this.complete(toDo, checkbox.checked)" #checkbox>{{ toDo.desc }}</mat-checkbox>      
                <button matSuffix mat-icon-button aria-label="Clear" (click)="this.delete(toDo)" class="delete-btn">
                    <mat-icon>close</mat-icon>
                </button>
        </mat-list-item>

        <mat-form-field class="todo-txt">
            <mat-label>Add ToDo:</mat-label>
            <input matInput type="text" (keyup.enter)="addToDo(todo.value);todo.value=''" #todo>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="todo.value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>


        <mat-list-item *ngFor="let toDo of this.eventService.doneToDos" class="done-todos">
            <mat-checkbox [checked]="toDo.doneAt" (change)="this.complete(toDo, checkbox.checked)" #checkbox>{{ toDo.desc }}</mat-checkbox>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="this.delete(toDo)" class="delete-btn">
                <mat-icon>close</mat-icon>
            </button>
        </mat-list-item>
    </div>
</div>