.todo-list {
    background-color: white;  
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 400px;
    margin: auto;
}

mat-list-item, mat-checkbox  {
    text-align: left;
    margin-left: 5px;
}

.delete-btn {
    float: right;
    margin-right: 5px;
    font-size: 1px;

}
.todo-txt {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

mat-icon {
    font-size: 18px;
}