<div class="container center">
    <mat-grid-list class="event-container" cols="1" rowHeight="4rem">
        <mat-grid-tile [rowspan]="2">{{this.time}}</mat-grid-tile>        
        <mat-grid-tile [rowspan]="2">
            <button mat-fab color="primary" class="center" (click)="this.toggleEvent()">
                <mat-icon *ngIf="!this.isRunning()">play_arrow</mat-icon>
                <mat-icon *ngIf="this.isRunning()">stop_arrow</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="4">
           <app-tags [event]="this.eventService.event"></app-tags>
              
        </mat-grid-tile>
    </mat-grid-list>
    <app-event-history></app-event-history>
</div>