
.event-container {
  height: 80%;
  width: 98%;
  max-width: 400px;
  background-color: white;  
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 20px;
}
