<mat-form-field class="example-chip-list">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let fruit of this.event.tags; index as i;" [selectable]="false"
               [removable]="true" (removed)="this.remove(i)">
        {{fruit}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      
      <input    #tagInput
                type="text"
                aria-label="Number"
                matInput
                [formControl]="this.myControl"                
                placeholder="add tags..."
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="add($event.value); tagInput.value = '';">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of this.filteredOptions | async" [value]="option" (click)="this.add(option); tagInput.value = '';">
          {{option}}
        </mat-option>
      </mat-autocomplete>   
    
  
    </mat-chip-list>
  </mat-form-field>