<!--<div (click)="hideEventDetail()" class="event-detail2" *ngIf="this.selectedEvent"></div>
<app-event-detail class="event-detail" *ngIf="this.selectedEvent" [event]="this.selectedEvent"></app-event-detail>
<h2>History</h2>
<mat-list>
    <mat-list-item *ngFor="let event of this.eventService.events" (click)="this.selectEvent(event)">
        <div class="list-item">id: {{event.id}}, time: {{event.getTime()}} secs</div>
    </mat-list-item>
</mat-list>
-->
<div (click)="hideEventDetail()" class="event-detail2" *ngIf="this.selectedEvent"></div>
<app-event-detail class="event-detail" *ngIf="this.selectedEvent" [event]="this.selectedEvent" (close)="this.closeEventDetail()"></app-event-detail>
<h2>History</h2>

      <mat-form-field class="filter-txt">
        <mat-label>Filter</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)" #filter>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="this.eventService.dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
        <td mat-cell *matCellDef="let row"> {{row.tags.join(', ')}} </td>
      </ng-container>
  
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let row"> {{row.duration}} </td>
      </ng-container>
  
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.getDate()}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectEvent(row)"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  